# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
wallet-service

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE directories
.idea/
.vscode/

# Environment files
.env

# Log files
*.log

# Database data
postgres_data/

# Build directory
bin/